<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lambda calculus - Interpreter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />

    </head>
    <body>

        <div class="terminal-nav">
            <div class="terminal-logo">
              <div class="logo terminal-prompt"><a href="#" class="no-style">λ</a> Calculus Interpreter
              </div>
              
            </div>
        </div>
    <div class="terminal-card" style="margin-left: 0.5em;margin-right: 0.5em; ">
        <header style="background-color:lightgoldenrodyellow; color: black;">Información</header>
        <div> Este intérprete fue desarrollado para el libro: Computación y programación funcional. Editorial Marcombo. Véase más información <a href="https://camilochs.github.io/web/#libro">aquí</a>.</div>
    </div>
    <pre class="terminal-alert" style="margin-left: 0.5em;margin-right: 0.5em; "> <strong>BNF:</strong>
    <strong>exprs:</strong>  constant  
            | variable
            | "(" exprs exprs ")"
            | "(" "lambda" variable "." exprs ")"

    <strong>constant:</strong>
            number
            |  "(" "lambda" variable "." exprs ")"
    <strong>number:</strong> [0-9]+

    <strong>variable:</strong> [a-Z] ([0-9])?</pre>

        <div class="terminal-alert" style="margin-left: 0.5em;margin-right: 0.5em; ">Ejemplos:
            <ol style="padding: 0; margin: 0">
                <li>(lambda x. x) 1</li>
                <li>(lambda x. x 10) (lambda y.y)</li>
                <li>(lambda x. (lambda y.y) x) (lambda z. z)</li>
                <li>(lambda f. ((lambda x2.(f (x2 x2))) (lambda x1.(f (x1 x1))))) (lambda x.x) </li>
            </ol>
        </div>
        <div class="form-group" style="margin-left: 0.5em; margin-top: 10px;width:80%">   
            
                <input [(ngModel)]="query" id="text" name="text" type="text" required="" minlength="5" placeholder="(lambda x.x) 1" style="width:80%;font-size:x-large;background-color: lightskyblue;" >

                <button 
                style="margin-left: 0.5em; text-align: center;width:15%;font-size:x-large;" 
                class="btn btn-primary" type="submit" role="button" 
                name="submit" id="submit" (keyup.enter)="run()" (click)="run()">Ejecutar</button>
      
        </div>
        
        <div id="results" style="margin-left: 0.5em;margin-right: 0.5em;  padding-top: 0; margin-bottom: 5em;">           
            <dl *ngFor="let derivate of results" style="margin:0;padding:0;font-size: x-large;color: lightskyblue;">
                <dd style="margin:0;line-height: 1em;">  {{ derivate }}  </dd>
            </dl>
        </div>

       <footer style="margin-left: 0.5em;"> © Camilo Chacón Sartori, 2020. </footer>
       
    </body>
</html>